*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 1400px;
    background-color: #F0F4F5;
    margin: auto;
    overflow: hidden;
}

nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

nav img{
    width: 150px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child{
    color: green;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

main section {
    width: 50%;
}

.leftmain{
    margin-left: 5%;
    position: relative;
}

.topAngle {
    width: 25px;
}

.leftmain h1{
    font-size: 70px;
}

.leftmain p {
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.bottomAngle{
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope {
    position: absolute;
    width: 90%;
    top: -60px;
    right: -25px;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30px;
}

.leftmain button{
    background: green;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 15px 40px;
    font-size: 25px;
}

/* Right main */

.greenCircle,  .yellowCircle{
    position: absolute;
    right: 0;
}

.greenCircle{
    width: 31%;
    bottom: 30px;
    right: 20px;
}

.yellowCircle{
    width: 27%;
    bottom: 50px;
}

.doctor {
    position: absolute;
    right: 10px;
    bottom: 0;
    height: 90%;
}